.addEmployee-button {
  background-color: lightblue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 0; 
  transition: background-color 0.3s ease;
  display: block;
}

.addEmployee-button:hover {
  background-color: #3fa7f7;
}

.employee-table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  background-color: white;
}

.employee-table th,
.employee-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  white-space: nowrap; 
}

.employee-table th {
  background-color: darkgray;
  color: #333;
}

.employee-table tr:hover {
  background-color: #f1f1f1;
}

.action-button {
  display: inline-block;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
  white-space: nowrap;
}

.view-details-button {
  background-color: #4caf50;
  color: white;
}

.update-button {
  background-color: #ff9800;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.view-details-button:hover {
  background-color: #45a049;
}

.update-button:hover {
  background-color: #e68900;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.logout-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 0; 
  transition: background-color 0.3s ease;
  display: block;
}

.logout-button:hover {
  background-color: #e53935;
}